.rank-list-wrapper .rank-list-layout h3 {
  margin:13px 0;
  width:100%;
  line-height: 1.3;
  font-size: 2.5rem;
  float:left;
  color: #1c7f66;
}

.rank-list-wrapper .rank-list-layout h3::after {
  transition: background-color 150ms ease-in-out;
  height: 0.25rem;
  width: 3.125rem;
  background-color: #00A38D;
  margin: 1.5rem 0;
  content: '';
  display: block;

}

.rank-list-wrapper .rank-list-layout ul {
  margin:1rem auto;
  padding: 1rem 3rem;
  width:100%;
  display:table;
  list-style:none;
  background-color: #1c7f66;
}

.rank-list-wrapper .rank-list-layout ul li {
  margin-bottom:1rem;
  padding-bottom:0.5rem;
  width:100%;
  display:block;
  float:left;
  border-bottom:3px solid #fff;
}

.rank-list-wrapper .rank-list-layout.rank-list-text li {
  margin-bottom: 13px;
  padding-bottom: 8px;
  width: 100%;
  display: block;
  float: left;
  border-bottom: 3px solid #ffff;
  font-family: 'GT Walsheim', Arial, sans-serif;;
}

.rank-list-wrapper .rank-list-layout ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.rank-list-wrapper .rank-list-layout ul li > span {
  padding:2.5px;
  width:15%;
  color:#fff;
  float:left;
}

.rank-list-wrapper .rank-list-layout ul li > p {
  margin-left:10px;
  width:80%;
  float:left;
  color:#fff;
}

.rank-list-wrapper .rank-list-layout.rank-list-text ul {
  padding: 30px;
 }
 
 .rank-list-wrapper .rank-list-layout.rank-list-text p {
   font-size: 1.6rem;
   line-height: 2.6rem;
   font-family: "GT Walsheim", Arial, sans-serif;
   font-weight: 400;
   color: #343434;
   margin: 0;
 }
 
 .rank-list-wrapper .rank-list-layout.rank-list-text li span {
   width: 20% !important;
   color: #fff !important;
   float: left !important;
   font-size: 3rem !important;
   font-family: 'GT Walsheim', Palatino, serif !important;
   font-weight: 700;
 }
 
 .rank-list-wrapper .rank-list-layout.rank-list-text li p,
 .rank-list-wrapper .rank-list-layout.rank-list-text li h1,
 .rank-list-wrapper .rank-list-layout.rank-list-text li h2,
 .rank-list-wrapper .rank-list-layout.rank-list-text li h3,
 .rank-list-wrapper .rank-list-layout.rank-list-text li h4,
 .rank-list-wrapper .rank-list-layout.rank-list-text li h5,
 .rank-list-wrapper .rank-list-layout.rank-list-text li h6 {
   margin-left: 10px !important;
   width: 60% !important;
   float: left !important;
   color: #fff !important;
   font-family: 'GT Walsheim', Arial, sans-serif;;
 }
 
 .rank-list-wrapper .rank-list-layout.rank-list-text li p strong {
  font-size: 2rem !important;
  font-weight: 900;
  font-family: 'GT Walsheim', Arial, sans-serif;;
 }

@media screen and (width <= 991px) {
  .rank-list-wrapper {
    padding: 0 15px;
  }
}

@media screen and (width <= 710px) {
  .rank-list-wrapper .rank-list-layout ul li > span {
      margin-bottom:11px;
      width:100%;
      text-align:left;
  }

  .rank-list-wrapper .rank-list-layout ul li > p {
      width:100%;
      text-align:left;
  }

  .rank-list-wrapper .rank-list-layout ul {
      padding: 1rem;
  }
}

@media screen and (width >= 768px) {
  .rank-list-wrapper .rank-list-layout.rank-list-text li span {
       font-size: 5rem !important;
    } 
 }