.inline-video-super {
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}

.inline-video-topic {
    color: #6d6d6d;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.6rem;
    font-family: var(--heading-font-family);
    margin-bottom: 5px;
}

.inline-video-title {
    margin-top: 0;
    margin-bottom: 2.5rem;
    color: var(--default-heading-font-color);
    font-size: 3rem;
}

.inline-video-content {
    display: flex;
    gap: 15px;
}

.inline-video-content-full {
    flex-direction: column;
}

.inline-video-content-partial {
    flex-direction: row;
}

.inline-video-player {
    height: auto;
    aspect-ratio: 16/9;
}

.inline-video-player iframe {
    width: 100%;
    height: 100%;
}

.inline-video-content-partial .inline-video-player {
    width: 66%;
}

.inline-video-content-full .inline-video-player {
    width: 100%;
}

.inline-video-description-container {
    font-size: 1.6rem;
    line-height: 2.6rem;
    flex: 1;
}

.inline-video-runtime {
    font-size: 1.2rem;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right-style: solid;
    border-right-width: 1px;
    text-transform: uppercase;
}

.inline-video-description {
    margin-bottom: 25px;
}

.inline-video-multi-cta-list {
    list-style: square;
    padding-left: 15px;
}

@media (width <= 991px) {
    .inline-video-super {
        padding: 0 15px;
        margin-bottom: 2.5rem;
    }

    .inline-video-content-partial {
        flex-direction: column;
    }

    .inline-video-content-partial .inline-video-player {
        width: 100%;
    }
}
