.acalog-course-list {
	div.acalog-permalink {
		display: inline;
	}

    .acalog-permalink-container {
		display: none;
	}

    .acalog-course-container,
	.acalog-program-container,
	.acalog-entity-container,
	.acalog-filter-container,
	.acalog-page-container,
	.acalog-program-core-course-container,
	.acalog-permalink-showhide>.acalog-permalink-container {
		position: relative;
        margin-top: -1px;
		margin-bottom: 10px;
		padding: 10px;
		border: 1px solid #444;
		border-radius: 0 3px;
		background-color: #FFF;
	}

    .acalog-catalog .acalog-catalog-container,
	.acalog-course .acalog-course-container,
	.acalog-program .acalog-program-container,
	.acalog-entity .acalog-entity-container,
	.acalog-filter .acalog-filter-container,
	.acalog-page .acalog-page-container,
	.acalog-program-core-course .acalog-program-core-course-container {
		display: none;
	}

	.acalog-permalink-hidetitle>.acalog-course-title,
	.acalog-permalink-hidetitle>.acalog-program-name,
	.acalog-permalink-hidetitle>.acalog-entity-name,
	.acalog-permalink-hidetitle>.acalog-filter-name,
	.acalog-permalink-hidetitle>.acalog-page-name {
		display: none;
	}

	.acalog-course-container .acalog-program-core-course-title,
	.acalog-program-container .acalog-program-core-course-title,
	.acalog-entity-container .acalog-program-core-course-title,
	.acalog-filter-container .acalog-program-core-course-title,
	.acalog-page-container .acalog-program-core-course-title,
	.acalog-program-core-course-container .acalog-program-core-course-title,
	.acalog-permalink-showhide>.acalog-permalink-container .acalog-program-core-course-title,
	.acalog-course-container .acalog-course-title,
	.acalog-program-container .acalog-course-title,
	.acalog-entity-container .acalog-course-title,
	.acalog-filter-container .acalog-course-title,
	.acalog-page-container .acalog-course-title,
	.acalog-program-core-course-container .acalog-course-title,
	.acalog-permalink-showhide>.acalog-permalink-container .acalog-course-title {
		background: #e5f0f4;
		padding: 10px;
	}

	.acalog-course-container h1.acalog-course-title,
	.acalog-program-container h1.acalog-course-title,
	.acalog-entity-container h1.acalog-course-title,
	.acalog-filter-container h1.acalog-course-title,
	.acalog-page-container h1.acalog-course-title,
	.acalog-program-core-course-container h1.acalog-course-title,
	.acalog-permalink-showhide>.acalog-permalink-container h1.acalog-course-title {
		margin: 0 0 10px;
		font-family: "Interstate Bold", Interstate, Arial, sans-serif;
		font-size: 1.6rem !important;
		font-weight: 700;
		line-height: 2.4rem !important;
		color: #4d4037;
		text-transform: uppercase;
	}

	.acalog-course-container .acalog-program-core-course-body,
	.acalog-program-container .acalog-program-core-course-body,
	.acalog-entity-container .acalog-program-core-course-body,
	.acalog-filter-container .acalog-program-core-course-body,
	.acalog-page-container .acalog-program-core-course-body,
	.acalog-program-core-course-container .acalog-program-core-course-body,
	.acalog-permalink-showhide>.acalog-permalink-container .acalog-program-core-course-body,
	.acalog-course-container .acalog-course-body,
	.acalog-program-container .acalog-course-body,
	.acalog-entity-container .acalog-course-body,
	.acalog-filter-container .acalog-course-body,
	.acalog-page-container .acalog-course-body,
	.acalog-program-core-course-container .acalog-course-body,
	.acalog-permalink-showhide>.acalog-permalink-container .acalog-course-body {
		padding: 0 10px 10px;
	}

	.acalog-course-container hr,
	.acalog-program-container hr,
	.acalog-entity-container hr,
	.acalog-filter-container hr,
	.acalog-page-container hr,
	.acalog-program-core-course-container hr,
	.acalog-permalink-showhide>.acalog-permalink-container hr {
		display: none;
	}

    .acalog-close {
		display: none;
		margin-top: 10px;
		margin-right: -11px;
		padding: 3px;
		border: 1px solid #444;
		border-top: none;
        border-radius: 0 0 3px 3px;
		float: right;
		background-color: #FFF;
	}

	.acalog-course-container>.acalog-close,
	.acalog-program-container>.acalog-close,
	.acalog-entity-container>.acalog-close,
	.acalog-filter-container>.acalog-close,
	.acalog-page-container>.acalog-close,
	.acalog-program-core-course-container>.acalog-close,
	.acalog-permalink-tooltip>.acalog-permalink-container>.acalog-close,
	.acalog-permalink-showhide>.acalog-permalink-container>.acalog-close {
		border: 1px solid #961e28;
		background: #961e28;
		color: #fff;
		margin-top: 0;
		margin-right: -1px;
		float: none;
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 3px 10px;
        display: inline-block;
	}

	.acalog-permalink-open {
		display: block !important;
		margin-bottom: 20px;
	}

	.acalog-permalink-open .acalog-permalink-link {
		display: block;
	}

	.acalog-permalink-open .acalog-permalink-container {
		z-index: 9999 !important;
	}

	ol,
	ul {
		margin-bottom: 25px;
		padding-left: 17px
	}

	ol+h1,
	ol+h2,
	ol+h3,
	ul+h1,
	ul+h2,
	ul+h3 {
		margin-top: 50px
	}

	ol+h4,
	ol+h5,
	ol+h6,
	ul+h4,
	ul+h5,
	ul+h6 {
		margin-top: 25px
	}

	ol li,
	ul li {
		font-size: 1.6rem;
		line-height: 2.6rem;
		font-family: "GT Walsheim", Arial, sans-serif;
		font-weight: 400;
		color: #343434;
		margin-bottom: 15px
	}

	ol li ol,
	ol li ul,
	ul li ol,
	ul li ul {
		margin-top: 15px
	}

	ol li ol,
	ul li ol {
		list-style: lower-alpha
	}

	ol li:last-child,
	ul li:last-child {
		margin-bottom: 0
	}

	ol.spacious li,
	ul.spacious li {
		margin-bottom: 25px
	}

	ol.spacious li ol,
	ol.spacious li ul,
	ul.spacious li ol,
	ul.spacious li ul {
		margin-top: 25px
	}
    
	.acalog-catalog-link,
	.acalog-course-link,
	.acalog-program-link,
	.acalog-entity-link,
	.acalog-filter-link,
	.acalog-page-link,
	.acalog-program-core-course-link,
	.acalog-permalink-showhide>.acalog-permalink-link {
		padding-left: 3px;
	}

	.acalog-permalink-inline.acalog-permalink-open>.acalog-permalink-link {
		display: none;
	}
    
	.acalog-permalink-tooltip>.acalog-permalink-container {
		padding: 10px;
		border: 1px solid #444;
        border-radius: 3px 3px 0;
		position: absolute;
		background-color: #FFF;
	}

	.acalog-catalog.acalog-catalog-open .acalog-catalog-container,
	.acalog-course.acalog-course-open .acalog-course-container,
	.acalog-program.acalog-program-open .acalog-program-container,
	.acalog-entity.acalog-entity-open .acalog-entity-container,
	.acalog-filter.acalog-filter-open .acalog-filter-container,
	.acalog-page.acalog-page-open .acalog-page-container,
	.acalog-program-core-course.acalog-program-core-course-open .acalog-program-core-course-container,
	.acalog-permalink.acalog-permalink-open>.acalog-permalink-container {
		display: block;
		z-index: 1;
	}

	.acalog-permalink {
		display: inline-block;
	}

	.acalog-catalog-open>.acalog-catalog-link,
	.acalog-course-open>.acalog-course-link,
	.acalog-program-open>.acalog-program-link,
	.acalog-entity-open>.acalog-entity-link,
	.acalog-filter-open>.acalog-filter-link,
	.acalog-page-open>.acalog-page-link,
	.acalog-program-core-course-open>.acalog-program-core-course-link,
	.acalog-permalink-open.acalog-permalink-showhide>.acalog-permalink-link {
		display: inline-block;
		margin-top: -4px;
		padding: 3px;
		border: 1px solid #444;
		border-bottom: none;
		border-radius: 3px 3px 0 0;
		background-color: #FFF;
	}

	.acalog-permalink-tooltip>.acalog-permalink-container>.acalog-close {
		margin-right: -1px;
		position: absolute;
		right: 0;
	}

	.loader-three-dots .spinner {
		margin: 100px auto 0;
		width: 70px;
		text-align: center
	}

	.loader-three-dots .spinner>div {
		width: 18px;
		height: 18px;
		background-color: #333;
		border-radius: 100%;
		display: inline-block;
		animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}

	.loader-three-dots .spinner .bounce1 {
		animation-delay: -.32s
	}

	.loader-three-dots .spinner .bounce2 {
		animation-delay: -.16s
	}

	@keyframes sk-bouncedelay {
		0%,
		100%,
		80% {
			transform: scale(0)
		}

		40% {
			transform: scale(1)
		}
	}

	.loader-three-dots.loader-blue .spinner>div {
		background-color: #004fa4
	}

	.loader-three-dots.loader-white .spinner>div {
		background-color: #fff
	}

	.sk-circle {
		margin: 100px auto;
		width: 40px;
		height: 40px;
		position: relative
	}

	.sk-circle .sk-child {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0
	}

	.sk-circle .sk-child::before {
		content: '';
		display: block;
		margin: 0 auto;
		width: 15%;
		height: 15%;
		background-color: #fff;
		border-radius: 100%;
		animation: sk-circle-bounce-delay 1.2s infinite ease-in-out both;
	}

	.sk-circle .sk-circle2 {
		transform: rotate(30deg)
	}

	.sk-circle .sk-circle3 {
		transform: rotate(60deg)
	}

	.sk-circle .sk-circle2::before {
		animation-delay: -1.1s
	}

	.sk-circle .sk-circle3::before {
		animation-delay: -1s
	}

    @keyframes sk-circle-bounce-delay {
        0%,
        100%,
        80% {
            transform: scale(0);
        }

        40% {
            transform: scale(1);
        }
    }

}
