.wcl-list-wrapper {
  h2, .h2 {
     line-height: 1.4167;
     color: #414547; /* Talon Black */
     font-size: 2.1rem;
     margin-bottom: 1.225rem;
     font-weight: 700;
  }

  p {
    margin-top: 0;
    font-family: 'GT Walsheim', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    color: #343434;
  }

  p:only-child {
    margin-bottom: 15px;
  }

  .layout {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 32px); 
  }

  .directory-item {
    border-bottom: 1px solid #F4F6F7;
    color: #414547;
    padding: 3.325rem 0 3.5rem;
  }
  
  .directory-item:last-child {
    border: 0;
  }
  
  .directory-item h2 {
    margin: 0;
  }
  
  .directory-item h2::after {
    background-color: #005099;
    content: '';
    display: block;
    height: 0.35rem;
    margin: 2.1rem 0;
    transition: background-color 150ms ease-in-out;
    width: 4.375rem;
  }
  
  .directory-item .info {
    background: #F4F6F7;
    margin-top: 2.0125rem;
    overflow-wrap: break-word;
    padding: 2.1rem 22px 2.975rem;
    text-transform: capitalize;
  }
  
  .directory-item .info a {
    /* -moz-transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    -webkit-transition: background-color 150ms ease-in-out, color 150ms ease-in-out; */
    background: transparent;
    margin-left: -0.175rem;
    padding: 0.175rem;
    text-decoration: none;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
  }
  
  .directory-item .info .address {
    font: inherit;
    font-size: 1.6rem;
    line-height: 1.5715;
    margin-top: 1.8375rem;
    text-transform: none;
  }
  
  .directory-item .info p {
    font-size: 1.6rem;
    margin-bottom: 0.7875rem;
    font-family: 'GT Walsheim', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .directory-item .info p:last-child {
    margin-bottom: 0;
  }
  
  .directory-item .type {
    color: #1c7f66;
    font-size: 1.6rem;
    line-height: 1;
    margin-bottom: 2.5375rem;
    text-transform: capitalize;
  }
  
  .directory-listing-container .directory-item h2 a:hover {
    text-decoration: none;
  }
  
  .no-touchevents .directory-item .info a:focus,
  .no-touchevents .directory-item .info a:hover {
    text-decoration: underline solid #1774a9;
    text-underline-offset: 0.3rem;
  }

  .directory-listing-container .directory-item .info {
    overflow-wrap: break-word;
  }

  @media screen and (width >= 580px) {
    h2, .h2 {
      line-height: 1.2942;
      font-size: 3.5rem; 
    }

    .layout {
      width: calc(100% - 60px);
    }

    .directory-item {
      display: block;
      padding: 4.025rem 0 5.25rem;
    }
  
    .directory-item::after {
      clear: both;
      content: "";
      display: block;
    }
  
    .directory-item h2::after {
      margin: 0.9em 0;
    }
  
    .directory-item .info {
      display: block;
      float: left;
      margin-right: 1.0104%;
      margin-top: 1.05rem;
      padding-left: 32px;
      padding-right: 32px;
      width: 52.3006%;
    }
  
    .directory-item .info:last-child {
      margin-right: 0;
    }
  }

  @media screen and (width >= 960px) {
    .layout {
      width: 89.0625%;
      min-width: 900px; 
    }

    .directory-item {
      display: block;
      float: left;
      margin-left: 6.7476%;
      margin-right: 1.2149%;
      width: 86.5046%;
    }
  
    .directory-item:last-child {
      margin-right: 0;
    }
  
    .directory-listing {
      background: #fff;
      display: block;
      float: left;
      margin-left: 8.4175%;
      margin-right: 1.0104%;
      width: 83.1649%;
    }
  
    .directory-listing:last-child {
      margin-right: 0;
    }
  
    .directory-listing-container {
      background-color: #F2F3F5;
      display: flex;
    }
  }

  @media screen and (width >= 1280px) {
    .directory-item h2 {
      font-size: 3.5rem;
    }
  
    .directory-item .desc {
      display: block;
      float: left;
      margin-right: 1.4045%;
      width: 61%;
    }
  
    .directory-item .desc:last-child {
      margin-right: 0;
    }
  
    .directory-item .info {
      display: block;
      float: left;
      margin-left: 3.90%;
      margin-right: 0;
      margin-top: 0.875rem;
      width: 33.3%;
    }
  
    .directory-item .info:last-child {
      margin-right: 0;
    }
  }
}
  