:root {
  --max-hero-width: 1310px;
}

/* CORE HERO STYLES   */
.hero-wrapper {
  max-width: 100% !important;
  padding: 0 !important;
}

.hero-image.rfi-form img ,
.hero-image.full-width-image img {
  width: 100%;
}

.hero-wrapper .hero-image.partial-width-image img {
  margin: 0;
  width: 100%;
}

.hero-image .flex-context,
.hero-wrapper .hero-image.partial-width-image .flex-context {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.hero-image.full-width-image .flex-context.message,
.hero-image.rfi-form .flex-context.message {
  padding: 10px 15px;
}

.hero-wrapper .hero-image.partial-width-image .flex-context .message {
  padding: 25px 10px;
  flex: 0 1 auto;
}

.hero-image.full-width-image .message h1,
.hero-image.full-width-image .message p.lede,
.hero-image.full-width-image .message small,
.hero-image.rfi-form .message h1,
.hero-image.rfi-form .message p.lede,
.hero-image.rfi-form .message small {
  color: var(--white-color);
}

.hero-image.full-width-image .message h1{
  border-bottom: 2px solid var(--white-color);
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.hero-image.full-width-image .message h1 small,
.hero-image.rfi-form .message h1 small{
  font-weight: 400;
}

.hero-image.full-width-image .message p.lede,
.hero-image.rfi-form .message p.lede {
  font-weight: 500;
}

.hero-wrapper .hero-image.partial-width-image .flex-context .message h1,
.hero-wrapper .hero-image.partial-width-image .flex-context .message p.lede,
.hero-wrapper .hero-image.partial-width-image .flex-context .message small {
  color: var(--bg-intern-blue-color);
}

.hero-wrapper .hero-image.partial-width-image .flex-context .message h1 {
  padding-bottom: 5px;
  margin: 0 0 15px;
}

.hero-wrapper .hero-image.partial-width-image .flex-context .message h1 small {
  font-weight: 400;
  display: block;
  font-size: 80%;
}

.hero-wrapper .hero-image.partial-width-image .flex-context .hero-img-wrap {
  flex: 0 1 auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 0;
  position: relative;
}

.hero-wrapper .hero-image.partial-width-image .flex-context .hero-img-wrap img {
  height: inherit;
  z-index: 2;
  position: inherit;
  object-fit: cover;
}

.hero-wrapper .hero-image.partial-width-image .flex-context .btn.btn-cta {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    height: 50px;
    margin-top: 25px;
    transition: background-color .5s ease, color .5s ease;
    color: var(--white-color);
}

.hero-wrapper .hero-image.partial-width-image .flex-context .btn.btn-cta:hover,
.hero-wrapper .hero-image.partial-width-image .flex-context .btn.btn-cta:focus {
  background-image: linear-gradient(to bottom, #4918cd 0%, #4918cd 90%, #f4c74b 90%, #f4c74b 100%);
  text-decoration: none;
  color: var(--white-color);
}

.hero-wrapper .hero-image.partial-width-image .flex-context .btn.btn-cta.cta-bg-default-ombre-color:hover,
.hero-wrapper .hero-image.partial-width-image .flex-context .btn.btn-cta.cta-bg-default-ombre-color:focus {
  background-image: linear-gradient(to bottom, #d9dce3 0%, #d9dce3 90%, #f4c74b 90%, #f4c74b 100%);
  text-decoration: none;
  color: var(--white-color);
}

.hero-wrapper .hero-image.partial-width-image .flex-context.bg-intern-blue-color {
  background-color: var(--bg-intern-blue-color);
}

.hero-wrapper .hero-image.partial-width-image .flex-context.bg-intern-blue-color .message h1,
.hero-wrapper .hero-image.partial-width-image .flex-context.bg-intern-blue-color .message p.lede,
.hero-wrapper .hero-image.partial-width-image .flex-context.bg-intern-blue-color .message small {
  color: var(--white-color);
}

.hero-wrapper .hero-image.partial-width-image .btn.btn-gradient {
  position: relative;
  text-transform: capitalize;
  padding: 0 0 0 1.6rem;
  font-size: 1.8rem;
  line-height: 4rem;
  height: 4rem;
  font-weight: 700;
  color: var(--link-color);
  text-decoration: none;
  max-width: 100%;
  margin-top: 25px;
  transition: color 0.5s ease-in, text-decoration 0.5s ease-in;
}

.hero-wrapper .hero-image.partial-width-image .btn.btn-gradient:hover,
.hero-wrapper .hero-image.partial-width-image .btn.btn-gradient:focus {
  outline: none;
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-color: var(--link-color);
}

.hero-wrapper .hero-image.partial-width-image .btn.btn-gradient::before {
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 4px 4px;
  border-image-slice: 1;
  border-image-source: linear-gradient(120deg, #e0263c 0%, #e0263c 11%, #3c208c 89%, #3c208c 100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 4rem;
}

.hero-wrapper .hero-image.partial-width-image .flex-context.bg-intern-blue-color .btn.btn-gradient {
  color: var(--white-color);
}

/* Use modern media feature range notation */
@media (width <= 767px) {
  .hero-wrapper .hero-image.partial-width-image .btn.btn-gradient::before {
    border-width: 0 0 4px 4px;
  }
}

/* GRADIENT VARIATION STYLES    */

/* DEFAULT: Pattern background on inner image-background-div */
 .default .hero-image.partial-width-image .image-background-div {
  background-image: repeating-linear-gradient(45deg, #8a95a5 7.14%, #fff 7.14%, #fff 50%, #8a95a5 50%, #8a95a5 57.14%, #fff 57.14%, #fff 100%);
  background-size: 9.9px 9.9px;
  z-index: 1;
  height: 80%;
  width: 90%;
  position: absolute;
  top: 0;
  right: 0;
  content: '';
}

.default .hero-image.partial-width-image .flex-context.bg-intern-blue-color .image-background-div {
  background-image: repeating-linear-gradient(45deg, #182449 7.14%, #8a95a5 7.14%, #8a95a5 50%, #182449 50%, #182449 57.14%, #8a95a5 57.14%, #8a95a5 100%);
}

/* CROSS-FADE: Gradient on the hero section */
@media (width >= 992px) {
  .hero-wrapper .default .hero-image.partial-width-image.row-center {
    max-width: 100%;
  }

  .hero-wrapper .cross-fade .hero-image.partial-width-image.row-center {
    background: repeating-linear-gradient(20deg, #fff, #fff 8px, #d9dce3 9px, #d9dce3 10px);
    max-width: 100%;
  }

  .hero-wrapper .cross-fade .hero-image.partial-width-image .flex-context .hero-img-wrap {
    padding: 0;
  }

  .hero-wrapper .cross-fade .hero-image.partial-width-image .flex-context .message h1 {
    letter-spacing: .005em;
    text-transform: none;
  }

  .hero-wrapper .cross-fade .hero-image.partial-width-image {
    margin: 0;
  }
}

/* RESPONSIVE LAYOUTS */

@media (width <= 991px) {
  .hero-wrapper .hero-image.partial-width-image.row.row-center {
    margin: 0;
  }

  .hero-wrapper .hero-image.partial-width-image .flex-context .image-background-div {
    display: none;
  }

  .hero-wrapper .partial-width-image .hero-img-wrap {
    display: none;
  }
}

@media (width >= 992px) {
  @keyframes image-animation-3 {
      0% {
        opacity: 0;
        animation-timing-function: ease-in;
      }
      
      8% {
        opacity: 1;
        animation-timing-function: ease-out;
      }
      
      34% {
        opacity: 1;
      }
      
      42% {
        opacity: 0;
      }
      
      100% {
        opacity: 0;
      }
    }
    
    @keyframes image-animation-4 {
      0% {
        opacity: 0;
        animation-timing-function: ease-in;
      }
      
      8% {
        opacity: 1;
        animation-timing-function: ease-out;
      }
      
      26% {
        opacity: 1;
      }
      
      34% {
        opacity: 0;
      }
      
      100% {
        opacity: 0;
      }
    }
    
    @keyframes image-animation-5 {
      0% {
        opacity: 0;
        animation-timing-function: ease-in;
      }
      
      8% {
        opacity: 1;
        animation-timing-function: ease-out;
      }
      
      21% {
        opacity: 1;
      }
      
      28% {
        opacity: 0;
      }
      
      100% {
        opacity: 0;
      }
    }

  .hero-wrapper .hero-image.partial-width-image {
    position: relative;
    min-height: 33.5vw;
    background: var(--bg-district-gray-color);
    overflow: hidden;
  }

  .hero-wrapper .hero-image.partial-width-image .row-center,
  .hero-wrapper .hero-image.partial-width-image picture,
  .hero-wrapper .hero-image.partial-width-image img {
    max-width: 100vw;
  }

  .hero-wrapper .hero-image.partial-width-image .flex-context {
    position: absolute;
    inset: 0;
    align-items: flex-end;
    flex-direction: row;
    z-index: 1;
    max-width: 100%;
  }

  .hero-wrapper .hero-image.partial-width-image .flex-context .message {
    width: 50%;
    padding: 25px 50px;
    align-self: center;
  }

  .hero-wrapper .hero-image.partial-width-image .flex-context .message .hero-text-wrap {
    float: right;
    max-width: 590px;
    width: 100%;
  }

  .hero-wrapper .hero-image.partial-width-image .flex-context .hero-img-wrap {
    max-width: 50%;
    flex: 0 1 auto;
    overflow: hidden;
  }

  .hero-wrapper .hero-image.partial-width-image .cross-fade > img {
    width: 100%;
    position: absolute;
    inset: 0;
    color: transparent;
    opacity: 0;
    z-index: 0;
  }

  .hero-wrapper .hero-image.partial-width-image .flex-context .hero-img-wrap img {
    object-fit: cover;
    height: 100%;
  }

}

@media (width >= 1310px) {
  .hero-wrapper .cross-fade .hero-image.partial-width-image .flex-context {
    left: calc((100vw - 1325px) / 2);
    right: calc((100vw - 1325px) / 2);
  }
}

@media (width >= 1920px) {
  .hero-wrapper .hero-image.partial-width-image img {
    margin: 0 auto;
  }
}

/* Styles for hero full width image variation */

.hero-image picture {
  margin: 0;
}

.hero-image.full-width-image .btn.btn-news-link,
.hero-image.rfi-form .btn.btn-cta.rfi-popup-btn {
    font-weight: 700;
    color: var(--white-color);
    background: 0 0;
    border: 2px solid #eeb137;
    border-width: 0 0 2px;
    height: 3rem;
    line-height: 3rem;
    padding: 0;
    transition: color .5s ease, border-color .5s ease;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 25px;
    border-radius: 0;
    width: auto;
    font-size: 1.5rem;
    font-family: Interstate, Arial, sans-serif;
}
  
@media (width >= 992px) {
  [data-tier="Tier 2"] .hero-image.row-center,
  [data-tier="Tier 3"] .hero-image.row-center,
  [data-tier="Tier 2"] .hero-image picture,
  [data-tier="Tier 3"] .hero-image picture,
  [data-tier="Tier 2"] .hero-image img,
  [data-tier="Tier 3"] .hero-image img {
    max-width: 100vw;
  }
  
  .hero-image {
    position: relative;
    background: var(--white-color);
  }
  
  .hero-image .flex-context {
    position: absolute;
    inset: 0;
    flex-direction: row;
    z-index: 1;
    padding:50px;
    max-width: var(--max-hero-width);
    margin: auto;
  }
  
  .hero-image .flex-context.align-start,
  .hero-image .flex-context.align-start.horizontal-left{
      align-items: flex-start;
  }
  
  .hero-image .flex-context.align-center,
  .hero-image .flex-context.align-center.horizontal-left{
      align-items: center;
  }

  .hero-image .flex-context.align-end,
  .hero-image .flex-context.align-end.horizontal-left{
    align-items: flex-end;
    padding: 0 0 50px;
  }
  
  .hero-image .flex-context.align-start.horizontal-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  /* center-right */
  .hero-image .flex-context.align-center.horizontal-right {
    align-items: center;
    justify-content: flex-end;
  }

  /* bottom-right */
  .hero-image .flex-context.align-end.horizontal-right {
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 0;
  }
  
  .hero-image.full-width-image .message,
  .hero-image.rfi-form .message {
    width: auto;
    max-width: 35%;
    flex: 0 1 auto;
    background: rgba(0 0 0 / 50%);
    text-shadow: 1px 1px 1px #343434;
    padding: 25px;
  }
    
  .hero-image .cross-fade > picture img {
    width: 100%;
    inset: 0;
    color: transparent;
    z-index: 0;
  }
  
  .hero-image .cross-fade > picture:nth-child(5) img {
    animation-delay: 40s;
  }
  
  .hero-image .cross-fade > picture:nth-child(4) img {
    animation-delay: 30s;
  }
  
  .hero-image .cross-fade > picture:nth-child(3) img {
    animation-delay: 20s;
  }
  
  .hero-image .cross-fade > picture:nth-child(2) img {
    animation-delay: 10s;
  }

  .hero-wrapper .hero-image .cross-fade > picture:nth-child(1) img {
    animation-delay: 0s;
  }
  
  .hero-wrapper .hero-image .cross-fade.fade-3 picture > img {
    animation-name: imageAnimation3;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .hero-wrapper .hero-image .cross-fade.fade-4 picture > img {
    animation-name: image-animation-4;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .hero-wrapper .hero-image .cross-fade.fade-5 picture > img {
    animation-name: imageAnimation5;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
}

@media (width >= 1310px) {
  [data-tier="Tier 2"] .hero-image.row-center,
  [data-tier="Tier 2"] .hero-image picture,
  [data-tier="Tier 2"] .hero-image img {
    max-width: 1310px;
  }
  
  [data-tier="Tier 3"] .hero-image.row-center,
  [data-tier="Tier 3"] .hero-image picture,
  [data-tier="Tier 3"] .hero-image img {
    width: 100%;
    max-width: 100%;
  }
  
  .hero-image {
    margin: 0 auto;
  }  
}

@media (width >= 1360px) {
  .hero-image .flex-context {
    padding: 0;
  }
}

@media (width >= 1920px) {
  .hero-image picture img {
    margin: 0 auto;
  }
}

@media (width >= 992px) {
  .hero-image.full-width-image .flex-context,
  .hero-image.rfi-form .flex-context {
    padding-top: 0;
  }
  
  .hero-image.full-width-image .message img,
  .hero-image.rfi-form .message img {
    margin: 0 0 25px;
  }
  
}

@media (width <= 991px) {
  .hero-image.full-width-image.row,
  .hero-image.rfi-form.row {
    margin: 0;
  }

  .hero-image.full-width-image .message img,
  .hero-image.rfi-form .message img {
    width: 50vw;
    margin: 10px 0 15px;
  }

  .hero-image.full-width-image .message,
   .hero-image.rfi-form .message {
    background: var(--black-color);
    padding: 10px 15px;
  }
}

@media (width <= 480px) {
  .hero-image.full-width-image .message img,
  .hero-image.rfi-form .message img {
    width: 90vw;
    margin: 10px auto 15px;
  }
  
}

@media (width >= 1311px) {  
  .hero-image.full-width-image .message img,
  .hero-image.rfi-form .message img {
    margin: 50px 0;
  }
  
  .hero-image.full-width-image p.lede,
  .hero-image.rfi-form p.lede {
    font-size: 1.35em;
    line-height: 3rem;
  }  
}

/* CSS for the pop-up form hero section */

.hero-popup-btn {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: flex;
  align-items: center; justify-content: center;
  background: rgba(0 0 0 / 50%);
  z-index: 1000;
}

.popup-box {
  background: var(--white-color);
  padding: 20px;
  max-width: 90%;
  border-radius: 8px;
  position: relative;
  background-color: #0f2846;
  color: var(--white-color);
  width: 477px;
}

.popup-close {
  position: absolute;
  right: 15px; top: 10px;
  cursor: pointer;
  font-size: 20px;
}

form.popup-form {
  padding-top: 21px;
}

.popup-form div {
  margin-bottom: 12px;
}

.popup-form label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}

.popup-form input, 
.popup-form select {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  color: grey;
}

.popup-overlay button.btn.pop-up-submit-btn {
  float: right;
  text-transform: none;
  font-size: 1.9rem;
  background: var(--bg-arboretum-green-color) !important;
  border: 2px solid var(--border-arboretum-green-color);
  border-radius: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}

@media (width >= 992px) and (width <= 1199px) {
 .hero-image .hidden-md { display: none !important; }
}

@media (width >= 1200px) {
 .hero-image .hidden-lg { display: none !important; }
 .hero-image .cross-fade[class*="fade-"] > picture img { opacity: inherit; }
}

@media (width <= 767px) {
  .hero-image .hidden-xs { display: none !important; }
}

@media (width >= 768px) and (width <= 991px) {
  .hero-image .hidden-sm { display: none !important; }
}
