.flex-facts-wrapper {
  padding-bottom: 10px;
}

.flex-facts-wrapper .flex-facts:has(.standard) {
  width: 100%;
  box-sizing: border-box;
}

.flex-facts-wrapper .flex-facts:not(:has(.standard)) {
  width: 100%;
  box-sizing: border-box;
}

.flex-facts-wrapper .el-flex-item[class^="flex-"] {
  border: none !important;
}

.flex-facts-wrapper .el-mini-flex-item div[class^="flex-"] {
  margin: 0 auto;
  height: 150px;
  max-height: 150px;
  width: 167px; 
}

.flex-facts-wrapper .el-mini-flex-item div[class^="flex-"]:has(.mini-bg){
  border: 1px solid #d2d2d2;
}

.flex-facts-wrapper .el-flex-item .flex-fact,
.flex-facts-wrapper .el-mini-flex-item .flex-fact  {
  text-align: center;
  position: relative;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-facts-wrapper .standard {
  background: repeating-linear-gradient(20deg, rgb(255 255 255), rgb(255 255 255) 8px, rgb(217 220 227) 9px, rgb(217 220 227) 10px);
  border: none !important;
}

.flex-facts-wrapper .el-flex-item .flex-fact > * {
  color: rgb(24 36 73);
}

.flex-facts-wrapper .standard .below-focus-ombre, .el-flex-item .standard .below-below-ombre {
  height: 6px;
  width: 65%;
  background: linear-gradient(120deg, rgb(224 38 60) 0, rgb(224 38 60) 11%, rgb(60 32 140) 89%, rgb(60 32 140) 100%);
}

.flex-facts-wrapper .el-flex-item .flex-fact .below-focus-ombre {
  margin: 10px auto 40px;
}

.flex-facts-wrapper .el-flex-item .flex-fact .below-below-ombre {
  margin: 70px auto 40px;
}

.flex-facts-wrapper .el-flex-item .flex-fact .below-below-ombre.with-attrib {
  margin: 30px auto 40px;
}

.flex-facts-wrapper .el-flex-item .flex-fact .below-below-ombre.with-fact-below.no-attrib {
  margin: 30px auto 40px;
}

.flex-facts-wrapper .el-flex-item .flex-fact.text-heavy-no-attrib {
  padding: 80px 25px 25px !important;
}

.flex-facts-wrapper .el-flex-item .flex-fact.text-heavy-no-attrib .below-below-ombre {
  margin: 5px auto 40px;
}

.flex-facts-wrapper .flex-facts-wrapper .el-flex-item .flex-fact .flex-center {
  flex: 0 1 auto;
  margin: 0;
}

.flex-facts-wrapper .el-mini-flex-item .flex-fact .fact-above, 
.flex-facts-wrapper .el-mini-flex-item .flex-fact .fact-below {
  display: block;
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "GT Walsheim", Arial, sans-serif;
}

.flex-facts-wrapper .el-flex-item .flex-fact .fact-above, 
.flex-facts-wrapper .el-flex-item .flex-fact .fact-below {
  display: block;
  line-height: 2.6rem;
  font-size: 2.1rem;
  font-family: "GT Walsheim", Arial, sans-serif;
}

.flex-facts-wrapper .el-flex-item .flex-fact .fact-focus {
  margin: 10px 0;
  display: block;
  font-size: 10.8rem;
  line-height: 1em;
  font-family: "GT Walsheim", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.06em;
}

.flex-facts-wrapper .el-mini-flex-item .flex-fact .fact-focus {
  display: block;
  font-size: 6rem;
  line-height: 0.5em;
  font-family: "GT Walsheim", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.06em;
  margin: 10px 0;
  white-space: nowrap;
}

.flex-facts-wrapper .mini-bg {
  color: white;
}

.flex-facts-wrapper .el-flex-item .flex-fact .fact-attrib {
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-family: "GT Walsheim", Arial, sans-serif;
}

.flex-facts-wrapper .el-flex-item .flex-fact .pound, 
.flex-facts-wrapper .el-flex-item .flex-fact .percent, 
.flex-facts-wrapper .el-flex-item .flex-fact .ratio, 
.flex-facts-wrapper .el-flex-item .flex-fact .plus, 
.flex-facts-wrapper.el-flex-item .flex-fact .dollar {
  font-size: 5.4rem;
  line-height: 1em;
  position: relative;
}

.flex-facts-wrapper .el-flex-item .flex-fact .pound::after, 
.flex-facts-wrapper .el-flex-item .flex-fact .percent::after, 
.flex-facts-wrapper .el-flex-item .flex-fact .ratio::after, 
.flex-facts-wrapper .el-flex-item .flex-fact .plus::after, 
.flex-facts-wrapper .el-flex-item .flex-fact .dollar::after {
  font-size: 8.1rem;
  line-height: 1em;
  display: inline-block;
  margin: 0 5px;
  content: "";
}

.flex-facts-wrapper .el-flex-item .flex-fact .ratio::before,
.flex-facts-wrapper .el-mini-flex-item .flex-fact .ratio::before {
  content: none !important;
  display: none !important;
}

.flex-facts-wrapper .el-flex-item .flex-fact .pound::after {
  vertical-align: top;
  font-size: 3.6rem;
  line-height: 1.5em;
  content: "#";
  position: absolute;
  left: -3.4rem;
  top: -60%;
}

.flex-facts-wrapper .el-flex-item .flex-fact .percent::after {
  content: "%";
}

.flex-facts-wrapper .el-flex-item .flex-fact .dollar::after {
  content: "";
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: Ionicons;
  font-size: 5.4rem;
}

.flex-facts-wrapper .el-flex-item .flex-fact .ratio::after {
  content: ":";
}

.flex-facts-wrapper .el-flex-item .flex-fact .plus::after {
  vertical-align: top;
  font-size: 3.6rem;
  line-height: 1.5em;
  content: "+";
}

.flex-facts-wrapper .el-mini-flex-item .fact-big-number .fact-focus {
  line-height: 0.8em;
  margin: 0 0 10px;
}

.flex-facts-wrapper .el-flex-item .flex-fact.fact-big-number .fact-focus {
  font-size: 8.1rem;
  line-height: 1em;
}

.flex-facts-wrapper .el-flex-item .flex-fact.fact-dollar-amount .fact-focus {
  text-transform: lowercase;
  font-size: 8.1rem;
  line-height: 1em;
}

.flex-facts-wrapper .el-flex-item .flex-fact.fact-text-heavy .fact-above, 
.flex-facts-wrapper .el-flex-item .flex-fact.fact-text-heavy .fact-below {
  font-size: 3.6rem;
  line-height: 0.5em;
  font-family: "GT Walsheim", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.flex-facts-wrapper .el-flex-item .flex-fact.fact-text-heavy .fact-focus {
  line-height: 3.25rem;
  font-size: 2.625rem;
  font-family: "GT Walsheim", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  white-space: normal;
  margin: 15px 0;
}

.flex-facts-wrapper .el-flex-item a.fact-link {
  text-decoration: none !important;
  color: initial !important;
}

.flex-facts-wrapper .el-flex-item a.fact-link .fact-attrib {
  text-decoration: underline !important;
}

.flex-facts-wrapper .el-flex-item a.fact-link .fact-attrib cite {
  font-style: normal !important;
}

.flex-facts-wrapper .el-flex-item .fact-link .flex-fact > * {
  transition: 0.25s;
}

.flex-facts-wrapper .el-flex-item .fact-link .flex-fact:hover > * {
  transform: scale(1.1, 1.1);
  transform-origin: center center;
}


.flex-facts-wrapper .el-mini-flex-item .flex-fact .pound,
.flex-facts-wrapper .el-mini-flex-item .flex-fact .percent,
.flex-facts-wrapper .el-mini-flex-item .flex-fact .ratio,
.flex-facts-wrapper .el-mini-flex-item .flex-fact .plus,
.flex-facts-wrapper .el-mini-flex-item .flex-fact .dollar {
  font-size: 3rem;
  line-height: 1em;
  position: relative;
}

.flex-facts-wrapper .el-mini-flex-item .flex-fact .pound::after,
.flex-facts-wrapper .el-mini-flex-item .flex-fact .ratio::after,
.flex-facts-wrapper .el-mini-flex-item .flex-fact .plus::after,
.flex-facts-wrapper .el-mini-flex-item .flex-fact .dollar::after {
  font-size: 4.5rem;
  line-height: 1em;
  display: inline-block;
  margin: 0 5px;
  content: "";
}

.flex-facts-wrapper .el-mini-flex-item .flex-fact .percent::after {
  font-size: 5.4rem;
  line-height: 1rem;
  display: inline-block;
  margin: 0 5px;
  content: "%";
}

.flex-facts-wrapper .el-mini-flex-item .flex-fact .pound::after {
  vertical-align: top;
  font-size: 2rem;
  line-height: 1.5em;
  content: "#";
  position: absolute;
  left: -2rem;
  top: -50%;
}

.flex-facts-wrapper .el-mini-flex-item .flex-fact .dollar::after {
  content: "";
   /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: Ionicons;
  font-size: 3rem;
}

.flex-facts-wrapper .el-mini-flex-item .flex-fact .ratio::after {
  content: ":";
}

.flex-facts-wrapper .el-mini-flex-item .flex-fact .plus::after {
  vertical-align: top;
  line-height: 0.5em;
  content: "+";
}

.flex-facts-wrapper .el-mini-flex-item .flex-fact .factbox-focus {
  height: 8px;
  background-color: rgb(187 123 15);
  width: 100%;
}

.flex-facts-wrapper .el-mini-flex-item a:hover .flex-fact.mini-bg,  
.flex-facts-wrapper .el-mini-flex-item a:focus .flex-fact.mini-bg {
  background-image: linear-gradient(to bottom, #0000 0%, #0000 94%, #f4c74b 94%, #f4c74b 100%);
  text-decoration: none;
}

.flex-facts-wrapper .el-mini-flex-item a.fact-link {
  text-decoration: none !important;
}

.flex-facts-wrapper .el-mini-flex-item a.fact-link .fact-attrib {
  text-decoration: underline !important;
}

.flex-facts-wrapper .smaller-dollar-font {
  font-size: 3.5rem !important;
}

@media (width >= 768px) {
  .flex-facts-wrapper .el-flex-item .flex-fact {
      min-height: 425px;
  }

  .flex-facts-wrapper .el-flex-item .flex-fact .fact-attrib {
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 25px;
  }

  .flex-facts-wrapper .el-mini-flex-item div[class^="flex-"] {
    max-width: 167px;
    margin: 0 auto;
    height: 150px;
    max-height: 150px;
    overflow: hidden;
  }
}

@media (width >= 1200px) {
  .flex-facts-wrapper .section-right .el-flex-item .flex-fact.fact-text-heavy {
      padding: 50px 25px;
  }

  .flex-facts-wrapper .section-right .el-flex-item .flex-fact .fact-attrib {
      position: static;
      margin: 25px 0 10px;
  }

  .flex-facts-wrapper .el-mini-flex-item div[class^="flex-"] {
    width: 167px;
    overflow: hidden;
  }
}

/* 992px and above: Minimum 3 cards, responsive growth */
@media (width >= 992px) and (width <= 1200px) {
  .flex-facts-wrapper article.el-flex-item {
    height: 425px;
  }

  .flex-facts-wrapper .el-mini-flex-item {
    max-width: 180px !important;
  }
}

/* Between 768px and 991.98px: Two columns */
@media (width >= 768px) and (width <= 991.98px) {
  .flex-facts-wrapper article.el-flex-item {
    height: 425px;
  }
}

/* Below 768px: Single column */
@media (width <= 767.98px) {
  .flex-facts-wrapper article.el-flex-item {
    min-height: 275px;
  }
}

@media (width <= 360px) {
  .flex-facts-wrapper .smaller-dollar-font {
      font-size: 2.4rem !important;
  }

  .flex-facts-wrapper .el-mini-flex-item div[class^="flex-"] {
    max-width: 130px;
    margin: 0 auto;
    height: 116px;
    max-height: 116px;
    overflow: hidden;
  }

  .flex-facts-wrapper .fact-focus {
    font-size: 5rem;
  }
}
