@import url('../collapsibles/collapsibles.css');

.inline-video-playlist-super {
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}

.inline-video-playlist-topic {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.6rem;
    font-family: var(--heading-font-family);
    margin-bottom: 5px;
}

.inline-video-playlist-title {
    margin-top: 0;
    margin-bottom: 2.5rem;
    color: var(--default-heading-font-color);
    font-size: 3rem;
}

.inline-video-playlist-content {
    display: flex;
    gap: 15px;
}

.inline-video-playlist-content-collapsible {
    gap: 0;
}

.inline-video-playlist-content-full,
.inline-video-playlist-content-collapsible {
    flex-direction: column;
}

.inline-video-playlist-content-partial {
    flex-direction: row;
}

.inline-video-playlist-player {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
}

.inline-video-playlist-player iframe {
    width: 100%;
    height: 100%;
}

.inline-video-playlist-content-collapsible .collapsibles section.collapsible {
    margin: 0 0 5px;
}

.inline-video-playlist-content-partial .inline-video-playlist-player {
    width: 66%;
}

.inline-video-playlist-content-full .inline-video-playlist-player {
    width: 100%;
}

.inline-video-playlist-videos-container {
    flex: 1;
}

.inline-video-playlist-runtime {
    font-size: 1.2rem;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right-style: solid;
    border-right-width: 1px;
    text-transform: uppercase;
}

.inline-video-playlist-description {
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.inline-video-playlist-multi-cta-list {
    list-style: square;
    padding-left: 15px;
}

.inline-video-playlist-content-partial .inline-video-playlist-videos-container {
    overflow: scroll;
    aspect-ratio: 8/9;
}

.inline-video-playlist-videos-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2.2rem;
    line-height: 2.6rem;
    color: #4d4037;
    font-weight: 700;
    font-family: "Interstate Bold", Interstate, Arial, sans-serif;
}

.inline-video-playlist-content-full .inline-video-playlist-videos-title {
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.inline-video-playlist-videos-help-blurb {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #737373;
}

.inline-video-playlist-videos-playlist-icon {
  content: url("../../styles/resources/playlist-icon.svg");
  vertical-align: middle;
}

.inline-video-playlist-videos-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline-video-playlist-videos-list li {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-family: "GT Walsheim", Arial, sans-serif;
    font-weight: normal;
}

.inline-video-playlist-videos-list li:hover,
.inline-video-playlist-videos-list li:focus-within {
    background-color: #e5f0f4;
}

.inline-video-playlist-videos-list a {
    text-decoration: none;
    color: #343434;
    align-items: center;
    display: flex;
}

.inline-video-playlist-videos-list img {
    margin-right: 7.5px;
}

.inline-video-playlist-content-partial .inline-video-playlist-videos-list img {
    max-width: 80px;
}

.inline-video-playlist-videos-list-item-topic {
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 1.8rem;
    margin: 0;
}

.inline-video-playlist-videos-list-item-lede {
    margin-top: 3px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: 600;
}

@media (width <= 991px) {
    .inline-video-playlist-super {
        padding: 0 15px;
        margin-bottom: 2.5rem;
    }

    .inline-video-playlist-content-partial {
        flex-direction: column;
    }

    .inline-video-playlist-content-partial .inline-video-playlist-player {
        width: 100%;
    }

    .inline-video-playlist-content-partial .inline-video-playlist-videos-container {
        aspect-ratio: unset;
    }

    .inline-video-playlist-content-partial .inline-video-playlist-videos-list img {
        max-width: unset;
    }
}
