.text-search-form-wrapper {
    form {
        font-family: "GT Walsheim", Arial, sans-serif;
        margin: 25px 0;
        padding: 0;
    }

    .sr-only {
        border-width: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    form label {
        color: #343434;
        font-size: 1.6rem;
        font-weight: 700;
    }

    .form-control {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px #00000013;
        color: #555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.4286;
        padding: 6px 12px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        width: 100%;
    }

    form .form-control {
        border-color: #d2d2d2;
        border-radius: 0;
        box-shadow: none;
        font-size: 1.6rem;
        height: 50px;
        line-height: 3.8rem;
        outline: 0;
    }

    .form-control:focus {
        border-color: #66afe9;
        box-shadow: inset 0 1px 1px #00000013, 0 0 8px #66afe999;
        outline: 0;
    }

    .col-12.col-sm-9 {
        min-height: 1px;
        position: relative;
    }

    .col-12.col-sm-3 {
        min-height: 1px;
        position: relative;
    }

    .col-12.col-sm-10.has-focus .sr-only, .col-12.col-sm-7.has-focus .sr-only {
        font-size: 1.2rem;
        text-transform: uppercase;
        position: absolute;
        background: #fff;
        display: inline-block;
        padding: 0 10px;
        width: auto;
        height: auto;
        visibility: visible;
        clip: auto;
        margin: -8px 0 0 10px;
        color: #6d6d6d;
        z-index: 2;
    }

    div.styled-select {
        position: relative;
    }

    div.styled-select select.form-control {
        /* -webkit-appearance: textfield; */
        background: #fff!important;
        background-clip: padding-box!important;
        background-image: none!important;
        border-radius: 0!important;
        box-shadow: none!important;
    }

    div.styled-select select.form-control option {
        color: #343434;
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 8px 12px;
    }

    div.styled-select::after {
        background: #fff;
        border-bottom: 1px solid #d2d2d2;
        border-right: 1px solid #d2d2d2;
        border-top: 1px solid #d2d2d2;
        bottom: 0;
        color: #646464;
        content: "\f123";
        display: block;
        font-family: Ionicons, sans-serif;
        font-size: 22px;
        line-height: 50px;
        pointer-events: none;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        transition: border-color .15s ease-in-out 0s, color .15s ease-in-out;
        width: 52px;
        -webkit-pointer-events: none;
        -moz-pointer-events: none;
    }

    div.styled-select.has-focus::after {
        border-bottom-color: #0672b9;
        border-right-color: #0672b9;
        border-top-color: #0672b9;
        color: #0672b9;
    }
}
