 /* stylelint-disable selector-class-pattern */
 
 .datatable.block {
    padding-top: 50px;
 }

  table.dataTable {
    width: 100% !important;
  }

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
    box-sizing: border-box;
 }

 table.table.table-hover>tbody>tr:hover {
   background-color: #d9dce3;
 }

 .datatable-loader {
  text-align: center;
  padding: 2em;
  font-size: 1.2em;
}

.datatable table caption {
   font-family: "GT Walsheim", Arial, sans-serif;
   font-weight: 700;
   color: #4d4037;
   font-size: 2.2rem;
   line-height: 2.6rem;
   margin: 0 0 10px;
   padding-top: 8px;
   padding-bottom: 8px;
   text-align: left;
   caption-side : top;
}

.datatable table caption small {
   font-size: 85%;
}

@media screen and (width <= 767px) {
    .section.datatable-container {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
        min-height: 0.01%;
    }
}

@media screen and (width <= 640px) {
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center;
    }
}
