/* stylelint-disable */

.news-listing-wrapper section.single-story article,
.news-listing-wrapper section.story-listing article {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.news-listing-wrapper section.single-story,
.news-listing-wrapper section.story-listing {
    margin: 25px -15px;
}

.magazine.news-listing-wrapper section.single-story,
.magazine.news-listing-wrapper section.story-listing {
    margin: 0;
}

.news-listing-wrapper section.single-story+section.single-story {
    padding-top: 0;
}

.news-listing-wrapper section.single-story p {
    margin: 0;
    padding: inherit;
}

.news-listing-wrapper p.topic {
    color: #6d6d6d;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 700;
    margin: 0 0 5px;
    letter-spacing: 0.05em;
    font-family: "GT Walsheim", Arial, sans-serif;
}

.news-listing-wrapper section.single-story p.topic {
    margin-top: -2px;
}

.news-listing-wrapper h1 {
    font-family: "GT Walsheim", Arial, sans-serif !important;
    font-weight: 700;
    color: #4d4037;
    font-size: clamp(3rem, 2.1vw, 4rem);
    line-height: 1.2;
    letter-spacing: 0.005em;
    text-transform: none;
    margin: 0 0 2.5rem;
}

.news-listing-wrapper section.single-story h1 {
    margin: 0 0 15px;
}

.magazine.news-listing-wrapper p.topic {
    color: var(--magazine-black-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-family: "GT Walsheim", Arial, sans-serif;

    @media (width >=1024px) {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
}

.news-listing-wrapper section.single-story p.topic,
.news-listing-wrapper section.story-listing p.topic {
    margin-top: -2px;
}

.news-listing-wrapper section.single-story h1,
.news-listing-wrapper section.story-listing h1 {
    margin: 0 0 15px;
}

.news-listing-wrapper section.single-story+section.single-story,
.news-listing-wrapper section.story-listing+section.single-story {
    margin-top: 0;
}

.news-listing-wrapper section.single-story+section.story-listing,
.news-listing-wrapper section.story-listing+section.story-listing {
    margin-top: 0;
}

.news-listing-wrapper section.story-listing article {
    margin-bottom: 25px;
}

.news-listing-wrapper section.story-listing article h1 {
    font-family: "Interstate Bold", Interstate, Arial, sans-serif;
    font-weight: 700;
    color: #4d4037;
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin: 0 0 10px;
    margin-bottom: 5px;
}

section.single-story img {
    width: 100%;
    max-width: 480px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.news-listing-wrapper section.story-listing article img {
    width: 100%;
    max-width: 480px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.news-listing-wrapper .btn.btn-news,
[class^="template-"] .btn.btn-yellow {
    font-weight: 700;
    color: #fff;
    background: #182449;
}

.news-listing-wrapper .btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    font-size: 1.5rem;
    font-family: "GT Walsheim", Arial, sans-serif;
    line-height: 50px;
    width: auto;
    height: 50px;
    padding: 0 20px;
    margin-top: 25px;
    border-radius: 0;
    border: none;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.news-listing-wrapper .btn.btn-news:hover {
    background: #182449;
    background-image: linear-gradient(to bottom, #182449 0%, #182449 90%, #f4c74b 90%, #f4c74b 100%);
    text-decoration: none;
}

.news-listing-wrapper p.lede {
    font-size: 1.8rem;
    font-family: "GT Walsheim", Arial, sans-serif;
    font-weight: 600;
    color: #343434;
    margin: 0;
    line-height: 2.6rem;
}

.news-listing-wrapper .story-listing p {
    font-size: 1.3rem;
    line-height: 2.6rem;
    font-family: "GT Walsheim", Arial, sans-serif;
    margin: 0;
}

.news-listing-wrapper .story-listing p:only-child {
    margin: 0 0 15px 0;
}

.news-listing-wrapper .btn.btn-sm {
    font-size: 1.3rem;
    margin-top: 10px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    border-radius: 0;
}

.news-listing-wrapper .heading-text-wrapper {
    padding: 0 15px;
}

.news-listing-wrapper .text-wrapper {
    padding: 0 15px;
}

@media screen and (width >=992px) {
    .news-listing-wrapper h1 {
        font-size: 40px;
    }

    .news-listing-wrapper section.single-story .image-wrapper {
        width: 33.33%;
    }

    .news-listing-wrapper section.single-story .content-wrapper {
        width: 66.67%;
        display: flex;
        flex-direction: column;
        /* stack heading + text vertically */
    }

    .news-listing-wrapper section.story-listing .image-wrapper {
        width: 25%;
    }

    .news-listing-wrapper section.story-listing .content-wrapper {
        width: 75%;
        display: flex;
        flex-direction: column;
        /* stack heading + text vertically */
    }

    .news-listing-wrapper section.single-story h1 {
        margin: 0 0 15px;
    }

    .news-listing-wrapper section.single-story img {
        margin-bottom: 0;
    }

    .news-listing-wrapper .section-main section.single-story {
        margin: 50px auto 50px -15px;
    }

    .news-listing-wrapper .section-main section.single-story.latest-story {
        margin: 0 auto;
    }

    .news-listing-wrapper .section-main section.single-story div:first-child {
        padding: 0;
    }
}

@media screen and (width <=768px) {
    .news-listing-wrapper .single-story img {
        max-width: 100%;
    }

    .news-listing-wrapper .col-xs-12 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (width > 768px) and (width < 992px) {

    .news-listing-wrapper .image-wrapper,
    .news-listing-wrapper .content-wrapper {
        width: 50%;
    }

    .news-listing-wrapper .content-wrapper {
        display: flex;
        flex-direction: column;
    }

}

/** Pagination changes starts */

.news-listing .pagination {
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
}

.news-listing .pagination .nav-label {
    border: none;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;

}

.news-listing .pagination li {
    display: inline;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-family: "GT Walsheim", Arial, sans-serif;
    font-weight: 400;
    color: #343434;
    margin-bottom: 15px;
}

.news-listing .pagination li>span {
    position: relative;
    float: left;
    line-height: 2.8rem;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0;
    margin-left: 0;
    text-align: center;
    border-radius: 0;
    margin-right: 5px;
    min-width: 33px;
}

.news-listing .pagination .nav-label span {
    border: none !important;
    background: 0 0 !important;
    color: #343434 !important;
}

.news-listing .pagination li a {
    border-color: #d2d2d2;
    transition: background-color .33s ease, color .33s ease, border-color .33s ease;
}

.news-listing .pagination li>a {
    min-width: 33px;
    line-height: 2.8rem;
    margin-right: 5px;
    padding: 0;
    margin-left: 0;
    text-align: center;
    border-radius: 0;
}

.news-listing .pagination li a:visited {
    background: 0 0;
    color: #005099;
}

.news-listing .pagination li.active>span {
    background: #005099;
    border-top-color: #f4c74b;
    box-sizing: border-box;
    line-height: 2.8rem;
    color: #fff;
}

.news-listing .pagination li.active>span.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/** Pagination changes ends */
/* stylelint-enable */

.magazine.news-listing-wrapper {
    --magazine-black-color: #09001e;

    margin-top: 2.5rem;

}

.magazine.news-listing-wrapper .text-wrapper,
.magazine.news-listing-wrapper .heading-text-wrapper {
    padding: 0;
}

.magazine.news-listing-wrapper section.single-story .content-wrapper {
    @media (width >=1024px) {
        width: 75%;
    }
}


.magazine.news-listing-wrapper section.story-listing .list-wrapper {
    padding: 0;
}

.magazine.news-listing-wrapper section.single-story img,
.magazine.news-listing-wrapper section.story-listing img {
    max-width: 300px;
    margin: 0;
}

.magazine.news-listing-wrapper p.lede,
.magazine.news-listing-wrapper .story-listing p {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: Georgia, serif;
    font-weight: normal;
    color: var(--magazine-black-color);

    @media (width >=1024px) {
        font-size: 1.7rem;
        line-height: 2.6rem;
    }
}

.magazine.news-listing-wrapper section.single-story p {
    padding: 0;
}

.magazine.news-listing-wrapper .story-listing p:only-child {
    margin-bottom: 0;
}

.magazine.news-listing-wrapper section.single-story article,
.magazine.news-listing-wrapper section.story-listing article {
    border-bottom: 1px solid #8a95a5;
    padding: 0 1.5rem 1.5rem;
    flex-wrap: nowrap;
    margin-bottom: 2.5rem;
    gap: 5vw;
    position: relative;
    padding-top: 25px;

    @media (width >=1024px) {
        border: none;
        padding: 0;
        gap: 1.5rem;
    }
}

.magazine.news-listing-wrapper section.single-story picture,
.magazine.news-listing-wrapper section.story-listing picture {  
    width: 30vw;
    display: block;
    
     @media (width >=1024px) {
        width: 30rem;
    }
}

.magazine.news-listing-wrapper section.single-story h1,
.magazine.news-listing-wrapper section.story-listing article h1 {
    font-size: 2.1rem;
    line-height: 2.7rem;
    color: var(--magazine-black-color);
    margin-bottom: 1rem;

    @media (width >=1024px) {
        font-size: 2.4rem;
        line-height: 3rem;
    }
}

.magazine.news-listing-wrapper p.lede a,
.magazine.news-listing-wrapper section.story-listing .text-wrapper a {
    display: none;
}

.magazine.news-listing-wrapper section.story-listing .image-wrapper,
.magazine.news-listing-wrapper section.single-story .image-wrapper {
    width: auto;
}

.magazine.news-listing-wrapper section.single-story p.topic,
.magazine.news-listing-wrapper section.story-listing p.topic {
    margin-top: 0;
    font-weight: 700;
    line-height: 1.4rem;
    position: absolute;
    top: 0;
    left: 15px;
    font-family: "GT Walsheim", Arial, sans-serif;
    
    @media (width >=767px) {
        position: static;
        line-height: 1.6rem;
        margin-bottom: 1rem;
    }
}

.magazine.news-listing-wrapper .news-listing .pagination {
    display: flex;
    justify-content: center;

    @media (width >=1024px) {
        justify-content: unset;
    }
}

.magazine.news-listing-wrapper .news-listing .pagination li {
    margin-top: 0;
}

.magazine.news-listing-wrapper .news-listing .pagination li>span {
    border-color: #d2d2d2;
    color: #c4122f;
}

.magazine.news-listing-wrapper .news-listing .pagination .nav-label {
    display: none;

    @media (width >=1024px) {
        display: block;
    }
}

.magazine.news-listing-wrapper .news-listing .pagination .nav-label span {
    color: var(--magazine-black-color);
    font-size: 1.7rem;
    line-height: 2.8rem;
}

.magazine.news-listing-wrapper .news-listing .pagination li>span.sr-only {
    min-width: 1px;
    border: none;
    margin: 0;
}

.magazine.news-listing-wrapper .news-listing .pagination li.active>span {
    background: var(--magazine-black-color);
    border-color: var(--magazine-black-color);
    color: #FFF;
}
