@media (width <= 600px) {
  #row-mobile-header {
    margin-top: 75px;
  }

  .navhidden > .header.block {
    display: none;
  }

  .navhidden > #row-mobile-header {
    margin-top: 0;
  }

  .header-wrapper #row-mobile-header {
    position: fixed;
    inset: 0;
    height: 85px;
  }

  .bg-school-primary {
    background-color: #0672b9;
  }

  #main-container {
    padding-top: 85px;
  }

  .col-xs-12 {
    width: 100%;
  }

  .header-wrapper #row-mobile-header .navbar-mobile-full {
    border-bottom: 1px solid #fff;
    height: 47px;
    align-items: center;
    justify-content: flex-start;
    display: flex !important;
  }

  /* order generic -> attribute -> more specific (no-descending-specificity) */
  .header-wrapper button.navbar-toggle {
    width: auto;
    height: 4rem;
    line-height: 4rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
    margin: 0;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    position: relative;
    padding: 0 3rem 0 0;
    float: none;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
  }

  .header-wrapper button.navbar-toggle[data-placement="left"] {
    height: 2.7rem;
    line-height: 2.7rem;
  }

  .header-wrapper #row-mobile-header button.navbar-toggle {
    padding-right: 2.2rem;
  }

  .header-wrapper button.navbar-toggle span.ion-chevron-down::before {
    font-size: 2.3rem;
    line-height: 3rem;
    position: absolute;
    top: -1px;
    right: 0;
    font-weight: 400;
    content: "\f123";
  }

  .header-wrapper #row-mobile-header #mobile-navigation-header-text {
    font-family: "GT Walsheim", Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #fff;
    text-transform: capitalize;
    margin: auto 0 auto 15px;
    max-height: 3rem;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0;
  }

  .header-wrapper #row-mobile-header.has-crumb a.crumb {
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }

  span.ion-android-close::before {
    font-size: 3rem;
    line-height: 3.2rem;
    position: absolute;
    top: -1px;
    right: 0;
    font-weight: 400;
    content: "\f2d7";
  }
}

/* Sticky See More bar */
.eds-see-more {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 12px 16px;
  border: 0;
  border-radius: 2px;
  background: #5128e1;
  color: #fff;
  font-weight: 600;
  text-align: center;
  z-index: 9998;
  box-shadow: 0 2px 8px rgb(0 0 0 / 18%);
}

.eds-see-more-chev {
  margin-left: 6px;
  font-weight: 700;
}

/* Hide on desktop */
@media (width >= 601px) {
  .see-more-overlay,
  .eds-see-more {
    display: none !important;
  }
}

/* Custom changes start for mobile */

.see-more-block {
  position: fixed;
  top: var(--mobile-header-h, 85px);
  left: 0;
  background: #f2f3f5;
  z-index: 999;
  color: #fff;
  width: 100%;
  height: calc(100% - var(--mobile-header-h, 85px));
  margin-top: 100px;
  padding: 10px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.15s ease-in-out;
  pointer-events: none;
}

.see-more-block.active {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
}

.see-more-block .close {
  color: #3c208c;
  opacity: 1;
}

.fa-times::before {
  content: "ÔÄç";
}

.see-more-block h3 {
  padding: 30px 0;
  color: #3c208c;
  font-size: 2.1em;
  letter-spacing: -1px;
  line-height: 2.8rem;
  text-transform: none;
  margin: 0;
  font-family: "GT Walsheim", Arial, sans-serif;
  font-weight: 700;
}

.see-more-block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.see-more-block .dropdown-submenu {
  color: #fff;
  padding: 5px 0;
  font-size: 0.9em;
  border: 2px solid #fff;
  background-color: #4918cd;
  min-width: calc(100% + 4px);
  margin-left: -2px;
  display: block;
}

.see-more-block ul li .sub-menu {
  border-top: 0 solid #ffd147;
  background-color: #4918cd;
  padding: 0;
  height: 0;
  transition: 0.15s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.see-more-block ul li .sub-menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  border-top: 4px solid #ffd147;
  padding: 11px;
  height: auto;
}

.see-more-block ul li .sub-menu p {
  color: #fff;
  margin-bottom: 9px;
}

.text-left {
  text-align: left;
}

.see-more-block ul li .sub-menu li {
  margin-bottom: 5px;
}

.see-more-block ul li .sub-menu li a {
  border: 2px solid #fff;
  background-color: #4918cd;
  color: #fff;
  display: block;
  padding: 5px 0;
  font-size: 0.9em;
}

/* Custom Changes END */