.mini-drop-form-wrapper {
  .apply-dropdown {
    display: flex;
    font-family: "GT Walsheim", Arial, sans-serif;
    margin: 25px 0;
    padding: 0;
  }

  .btn.btn-primary:disabled {
    background: #8a95a5 !important;
    color: #fff;
  }

  .form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px #00000013;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.4286;
    padding: 6px 12px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
  }

  div .form-control {
    border-color: #d2d2d2;
    border-radius: 0;
    box-shadow: none;
    font-size: 1.6rem;
    height: 50px;
    line-height: 3.8rem;
    outline: 0;
  }

  .form-control:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px #00000013, 0 0 8px #66afe999;
    outline: 0;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .sr-only {
    border-width: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  div .form-control[disabled] {
    background: #fff;
    color: #8a95a5;
  }

  div.styled-select {
    position: relative;
  }

  div.styled-select::after {
    background: #fff;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    bottom: 0;
    color: #646464;
    content: "\f123";
    display: block;
    font-family: Ionicons, sans-serif;
    font-size: 22px;
    line-height: 50px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: border-color 0.15s ease-in-out 0s, color 0.15s ease-in-out;
    width: 52px;
  }

  div.styled-select.has-focus::after {
    border-bottom-color: #66afe9;
    border-right-color: #66afe9;
    border-top-color: #66afe9;
    color: #66afe9;
  }

  div.styled-select.is-disabled::after {
    color: #8a95a5;
  }

  div.styled-select select.form-control {
    background: #fff !important;
    background-clip: padding-box !important;
    background-image: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }

  div.styled-select select.form-control option {
    color: #343434;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 8px 12px;
  }
}
