.text-block-wrapper.padding-default {
    padding-left: 0;
}

.text-block-wrapper.padding-none {
    padding-left: 0;
    padding-right: 0;
}

.text-block-wrapper .row {
   margin: 0;
}

.text-block-wrapper h1 {
    font-family: "GT Walsheim", Arial, sans-serif !important;
    font-weight: 700;
    color: var(--default-heading);
    font-size: clamp(3rem, 2.1vw, 4rem);
    line-height: 1.2;
    letter-spacing: 0.005em;
    text-transform: none;
    margin: 0 0 2.5rem;
}

.text-block-wrapper h1 small {
    display: block;
    color: #4d4037;
    font-size: 80%;
    line-height: 1.2;
    font-weight: normal;
}

.text-block-wrapper p,
.text-block-wrapper em,
.text-block-wrapper u {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-family: "GT Walsheim", Arial, sans-serif;
    font-weight: normal;
    color: #343434;
    margin: 0;
}

.text-block-wrapper strong,
.text-block-wrapper em strong,
.text-block-wrapper strong em,
.text-block-wrapper strong u,
.text-block-wrapper strong u em,
.text-block-wrapper u strong em,
.text-block-wrapper strong em u,
.text-block-wrapper em strong u {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-family: "GT Walsheim", Arial, sans-serif;
    color: #343434;
    margin: 0; 
}

.text-block-wrapper p + p {
    margin-bottom: 25px;
}

.text-block-wrapper aside blockquote p {
    font-family: "GT Walsheim", Arial, sans-serif;
    font-size: 2.1rem;
    line-height: 2.5rem;
    letter-spacing: -0.02em;
    font-weight: 400;
    color: #13477d;
    display: inline;
    margin: 0;
}

.text-block-wrapper p:last-child {
    margin-bottom: 25px;
}

.text-block-wrapper figure.full-width, 
.text-block-wrapper aside.full-width {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.text-block-wrapper figure.full-width img {
    width: 100%;
}

.text-block-wrapper aside blockquote + cite {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #13477d;
    font-style: normal;
    display: block;
    margin-top: 0;
    margin-bottom: 25px;
}

.text-block-wrapper aside.full-width cite {
    width: 100%;
    max-width: 800px;
    margin: 25px auto;
    text-align: right;
}

.text-block-wrapper  figure.half-right, 
.text-block-wrapper  aside.half-right {
    width: 46%;
    margin-left: 4%;
    margin-right: 0;
    padding-top: 0.7rem;
}

.text-block-wrapper  figure {
    margin-bottom: 10px;
    margin-top: 0;
}

.text-block-wrapper figure figcaption {
    font-size: 90%;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0 5px 5px;
    border-bottom: 1px solid #d2d2d2;
}

.text-block-wrapper .half-right{
    float: right;
    width: 46%;
    margin-left: 4%;
    margin-right: 0;
    padding-top: 0.7rem;
}

.text-block-wrapper  figure.half-left, 
.text-block-wrapper  aside.half-left {
    width: 46%;
    margin-right: 4%;
    margin-left: 0;
    padding-top: 0.7rem;
    float: left;
}

.text-block-wrapper figure.one-third-right,
.text-block-wrapper aside.one-third-right {
    width: 29%;
    margin-right: 0;
    margin-left: 4%;
    padding-top: 0.7rem;
    float: right;
}

.text-block-wrapper figure.one-third-left,
.text-block-wrapper aside.one-third-left {
    width: 29%;
    margin-right: 4%;
    margin-left: 0;
    padding-top: 0.7rem;
    float: left;
}

.text-block-wrapper aside blockquote::before {
    content: open-quote;
    font-size: 3rem;
    line-height: 0.75em;
    font-weight: 400;
    color: #13477d;
    vertical-align: -0.15em;
    font-family: Georgia, serif;
    display: inline;
}

.text-block-wrapper aside blockquote > div {
  display: inline;
}

.text-block-wrapper aside blockquote::after {
    content: close-quote;
    font-size: 3rem;
    line-height: 0.75em;
    font-weight: 400;
    color: #13477d;
    vertical-align: -0.15em;
    font-family: Georgia, serif;
    display: inline;
}

.text-block-wrapper aside blockquote {
    margin: 15px;
    margin-top: 50px;
    font-family: "GT Walsheim", Arial, sans-serif;
    font-size: 2.1rem;
    line-height: 2.5rem;
    letter-spacing: -0.02em;
    font-weight: 400;
    color: #13477d;
    border: none;
    background: none;
    padding: 0;
    quotes: "\201C" "\201D";
}

.text-block-wrapper blockquote + cite::before {
    content: '\2014 ';
}

@media (width <= 768px) { 
  .text-block-wrapper figure.one-third-left,
  .text-block-wrapper aside.one-third-left,
  .text-block-wrapper figure.one-third-right,
  .text-block-wrapper aside.one-third-right,
  .text-block-wrapper figure.half-left, 
  .text-block-wrapper aside.half-left,
  .text-block-wrapper figure.half-right, 
  .text-block-wrapper aside.half-right {
    width: 100%;
    float: none;
    margin: 0; /* optional: remove extra margins */
  }

  /* Make images take full screen width */
  .text-block-wrapper figure img,
  .text-block-wrapper figure picture {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

} 