
.emergency-notification-details.block #au-alerts-listing .au-alert-incident div {
    border-bottom: 1px solid #DDD;
    margin-bottom: 14px;
}

.emergency-notification-details.block div p.topic {
    color: #6d6d6d;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 700;
    margin: 0 0 5px;
    letter-spacing: 0.05em;
}

.emergency-notification-details.block #au-alerts-listing .au-alert-incident h1 {
        margin-top: 0;
}

.emergency-notification-details.block #au-alerts-listing .au-alert-incident .lede {
    margin-bottom: 10px;
}

.emergency-notification-details.block p.lede {
    font-size: 1.8rem;
    font-family: "GT Walsheim", Arial, sans-serif;
    font-weight: 600;
}

 .emergency-notification-details.block dl.tabular {
        overflow: auto;
 }

 .emergency-notification-details.block dl {
    margin-top: 0;
    margin-bottom: 20px;
 }

 .emergency-notification-details.block dl.tabular dt {
    float: left;
        color: #343434;
        background: transparent;
        width: 35%;
        clear: left;
        margin: 0 1% 10px 0;
        padding: 0;
        border: none;
 }

 .emergency-notification-details.block dl.tabular dt:first-child {
    margin-top: 0;
 }

 .emergency-notification-details.block dl.tabular dd {
            float: left;
        width: 64%;
        clear: none;
        margin: 0 0 10px;
 }
