.calendar-search.block .au-calendar-search {
  padding: 15px;
  max-width: 100%;
  background: #fff;
  margin: 2rem auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

.calendar-search.block .au-search {
  display: flex;
  position: relative;
  margin: 0;
}

.calendar-search.block .au-input-wrapper {
  position: relative;
  width: 100%;
}

.calendar-search.block .au-input-wrapper input {
  width: 100%;
  height: 56px;
  padding: 0 70px 0 20px;
  border: 2px solid #d2d2d2;
  background: white;
  font-size: 1.6rem;
  color: #333;
}

.calendar-search.block .au-search button {
  height: 56px;
  background: #005099;
  border: none;
  cursor: pointer;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
