.collapsibles {
    .collapse.in {
        display: block;
    }
    
    section.collapsible {
        margin: 0 7px;
    }

    .ombre-collapse-wrap,section.collapsible .ombre-collapse-wrap {
        padding-top: 4px;
        background: linear-gradient(120deg,#e0263c 0,#e0263c 11%,#3c208c 89%,#3c208c 100%)
    }

    .narrow-margin,section.collapsible.narrow-margin {
        margin-bottom: 5px
    }

    div.collapsible-header {
        padding: 10px;
    }

    section.collapsible .collapse {
        border: 1px solid #000;
        padding: 0% 25px;
        background: #fff
    }

    section.collapsible .collapse.in {
        padding: 0 15px;
        border: 1px solid #8a95a5;
        background: #fff;
        overflow: hidden
    }

    section.collapsible .collapse.in>:first-child {
        margin-top: 10px
    }

    section.collapsible div.collapsed:focus,
    section.collapsible div.collapsed:hover {
        text-decoration: none
    }

    section.collapsible h3 {
        font-family: "GT Walsheim",Arial,sans-serif;
        font-weight: 700;
        color: #4d4037;
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 10px;
        text-transform: none;
        margin-bottom: 0
    }

    section.collapsible figcaption+h3,section.collapsible h2+h3 {
        margin-top: 15px
    }

    section.collapsible[class*='collapse-'] div {
        transition: opacity .33s ease
    }

    section.collapsible[class*='collapse-'] div:focus,
    section.collapsible[class*='collapse-'] div:hover {
        opacity: .85
    }

    section.collapsible[class*='collapse-'] div.collapsed :is(h1, h2, h3) {
        text-decoration: none
    }

    section.collapsible[class*='collapse-'] div.collapsed:focus {
        outline-color: #fff;
        outline-offset: -1px
    }

    section.collapsible.collapse-intern-blue .collapse.in {
        border: 1px solid #182449
    }

    section.collapsible div.collapsed :is(h1, h2) {
        font-family: "GT Walsheim",Arial,sans-serif;
        color: #fff;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0;
        text-transform: none;
        padding-right: 30px;
        background: 0 0;
        font-weight: 400;
        position: relative;
        margin: 0
    }

    section.collapsible div.collapsed :is(h4, h5, h6) {
        font-family: "GT Walsheim",Arial,sans-serif;
        color: #fff;
        letter-spacing: 0;
        text-transform: none;
        padding-right: 30px;
        background: 0 0;
        font-weight: 400;
        position: relative;
        margin: 0
    }

    section.collapsible div.collapse-toggle :is(h1, h2) {
        font-family: "GT Walsheim",Arial,sans-serif;
        text-decoration: underline;
        color: #fff;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0;
        text-transform: none;
        padding-right: 30px;
        background: 0 0;
        font-weight: 400;
        position: relative;
        margin: 0
    }

    section.collapsible div.collapse-toggle :is(h4, h5, h6) {
        font-family: "GT Walsheim",Arial,sans-serif;
        text-decoration: underline;
        color: #fff;
        letter-spacing: 0;
        text-transform: none;
        padding-right: 30px;
        background: 0 0;
        font-weight: 400;
        position: relative;
        margin: 0
    }

    section.collapsible :is(h1, h2, h3) small {
        font-size: .85em;
        margin-bottom: 5px
    }

    section.collapsible div.collapsed :is(h1, h2, h3) small {
        color: #ffffffb3
    }

    section.collapsible div.collapsed :is(h1, h2, h3, h4, h5, h6)::after {
        display: inline-block;
        content: '\f489';
        color: #fff;
        font-family: Ionicons, sans-serif;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 20px;
        font-size: 1.5em
    }

    section.collapsible div.collapse-toggle :is(h1, h2, h3, h4, h5, h6)::after {
        display: inline-block;
        content: '\f462';
        color: #fff;
        font-family: Ionicons, sans-serif;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 20px;
        font-size: 1.5em
    }

    section.collapsible div.collapsed:focus :is(h1, h2, h3)::after,
    section.collapsible div.collapsed:hover :is(h1, h2, h3)::after {
        color: #fff
    }

    section.collapsible .ombre-default.collapsible-header div :is(h1, h2, h3, h4, h5, h6) {
        color: #000;
    }

    section.collapsible .ombre-default div.collapsed :is(h1, h2, h3, h4, h5, h6)::after {
        color: #000;
    }

    section.collapsible .ombre-default div.collapse-toggle :is(h1, h2, h3, h4, h5, h6)::after {
        display: inline-block;
        content: '\f462';
        color: #000;
        font-family: Ionicons, sans-serif;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 20px;
        font-size: 1.5em
    }

    section.collapsible .ombre-default div.collapsed:focus :is(h1, h2, h3)::after,
    section.collapsible .ombre-default div.collapsed:hover :is(h1, h2, h3)::after {
        color: #000;
    }

    section.collapsible .ombre-default div.collapse-toggle:focus :is(h1, h2, h3)::after,
    section.collapsible .ombre-default div.collapse-toggle:hover :is(h1, h2, h3)::after {
        color: #000;
    }

    section.collapsible :is(h1, h2, h3) {
        font-family: "GT Walsheim",Arial,sans-serif;
        font-weight: 700;
        color: #4d4037;
        font-size: 22px;
        line-height: 26px;
        margin: 0 0 10px;
        margin-bottom: 0
    }

    .collapse-link {
        text-decoration: none;
    }
}
